
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--white-text);
}
  
::-webkit-scrollbar {
width: 12px;
background-color: #666;
}

::-webkit-scrollbar-thumb {
background-color: var(--dark-blue);
border-radius: 60px;
}
